1 VERSIONINFO
FILEVERSION     1,0,0,0
PRODUCTVERSION  1,0,0,0
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0"
        BEGIN
            VALUE "Comments",         "Windows port\0"
            VALUE "CompanyName",      "I.S.I.S Arturo Malignani\0"
            VALUE "FileDescription",  "Client executable for the Hangman Game\0"
            VALUE "FileVersion",      "1.0\0"
            VALUE "InternalName",     "Hangman Client\0"
            VALUE "LegalCopyright",   "Copyright (c) 2022 John Toniutti\0"
            VALUE "OriginalFilename", "client.exe\0"
            VALUE "ProductName",      "Client for the Hangman Game\0"
            VALUE "ProductVersion",   "1.0\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0410, 0000
    END
END